services:
  morphodys46:
    build:
      context: .
      dockerfile: ./docker/Dockerfile_cuda_base
    image: jeanrodev/morphodynamicspipe:dev
    # image: morphodys:latest
    container_name: morphodys_container
    volumes:
      - ./1_data/:/app/1_data
      - ./2_segmentation/:/app/2_segmentation
      - ./3a_tracking_info/:/app/3a_tracking_info
      - ./3b_tracking_images/:/app/3b_tracking_images
      - ./3c_tracking_images_filtered/:/app/3c_tracking_images_filtered
      - ./4a_instantaneous_cell_morphodynamics/:/app/4a_instantaneous_cell_morphodynamics
      - ./4b_time_averaged_cell_morphodynamics/:/app/4b_time_averaged_cell_morphodynamics
      - ./5_tracking_images_outlines/:/app/5_tracking_images_outlines
      - ./scripts/:/app/scripts
      - ./requirements-base.txt:/app/requirements-base.txt:ro
      - ./minimal_run.smk:/app/minimal_run.smk
    working_dir: /app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    # command: >
    #   bash -c "pwd && . /opt/conda/etc/profile.d/conda.sh && conda activate morphody46 && snakemake -s run_example.smk --cores all --sdm conda --keep-going"
    #   # && ls -l && conda activate morphody46 &&  snakemake -s minimal_run.smk --cores all --sdm conda --keep-going"
    # command: >
    #   bash -c "pwd && . /opt/conda/etc/profile.d/conda.sh && conda activate morphody_minimal && snakemake -s minimal_run.smk --cores all --sdm conda --keep-going"
    command: >
      bash -c "pwd && ls -l &&  . ./venv/bin/activate && snakemake -s minimal_run.smk --cores 1 --keep-going"
    #" snakemake -s minimal_run.smk --cores all --keep-going"