ipython_pygments_lexers
ipywidgets
isoduration
jedi
jgo
Jinja2
joblib
jpype1
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jupytext
kiwisolver
lazy_loader
legacy-api-wrap
llvmlite==0.44.0
locket
logmuse
lxml
lxml_html_clean==0.4.2
lz4
magicgui
markdown-it-py
MarkupSafe
matplotlib==3.10.3
matplotlib-inline
matplotlib-scalebar
mdit-py-plugins
mdurl
microfilm
mistune
moviepy
Cython
# cyphon>=2.7