ptyprocess
PuLP
pure_eval
py-cpuinfo
pyarrow==20.0.0
pyconify
pycparser
pydantic
pydantic-compat
Pygments
pynndescent
PyOpenGL
pyparsing
pyproject_hooks
PyQt5==5.15.11
PyQt5_sip==12.17.0
PySide6==6.8.3
PySocks
pytest
python-dateutil
python-json-logger
python-utils
pytz
PyWavelets==1.8.0
PyYAML
pyzmq
qtconsole
QtPy
readlif
referencing
requests
reretry
resource-backed-dask-array
rfc3339_validator
rfc3986-validator
rich
rpds-py
ruff
scanpy
scikit-image==0.20.0
scikit-learn==1.5.2
scipy==1.15.2
scyjava
seaborn
Send2Trash
session-info2
shellingham
shiboken6==6.8.3
sip
six
sklearn-compat
slack_sdk
slicerator
smart_open
smmap
snakemake
snakemake-interface-common
snakemake-interface-executor-plugins
snakemake-interface-logger-plugins
snakemake-interface-report-plugins
snakemake-interface-storage-plugins
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml
stack_data
statsmodels
superqt
tables
tabulate
tblib
terminado
threadpoolctl
throttler
tifffile
tinycss2
toml
tomli
tomli_w
toolz
toposort
tornado
tqdm
traitlets
typer==0.16.0
typer-slim==0.16.0
types-python-dateutil
typing_extensions
typing_utils
tzdata
ubiquerg
umap-learn
unicodedata2
untokenize
uri-template
urllib3
veracitools==0.1.4
vispy
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
wrapt
xarray
xlrd
xlwt==1.3.0
xmlschema
xmltodict
xsdata
xyzservices
yarl
yte
zarr
zict
zipp
zstandard==0.23.0
pystackreg
torch