# after mamba create -n morphody50 python==3.11.13 pip==25.1.1
# mamba activate morphody50
# pip install -r requirements-base.txt
snakemake==9.13.7
cellpose==4.0.7
napari==0.6.6
PyQt5==5.15.11
pystackreg==0.2.8
dask-image==2025.11.0
magicgui==0.10.1
btrack==0.7.0
moviepy==2.2.1
numba==0.62.1
matplotlib==3.10.7
moviepy==2.2.1
cp-measure==0.1.12
# This line is the fix:
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.8.0