mrc
msgpack
multidict
munkres==1.1.4
napari
napari-aicsimageio
napari-console
napari-plugin-engine
napari-svg
narwhals
natsort
nbclient
nbconvert
nbformat
nd2
nd2reader
nest_asyncio
networkx
notebook
notebook_shim
npe2
numba
numcodecs
numexpr
numpy==1.26.4
numpydoc
ome-types
ome-zarr
opencv-python>=4.11.0
opencv-python-headless>=4.11.0
openpyxl
overrides
packaging
pandas
pandocfilters
parso
partd
patsy==1.0.1
peppy
pexpect
pickleshare
pillow
PIMS
Pint
pkgutil_resolve_name
plac
platformdirs
pluggy
ply
pooch
proglog
progressbar2
prometheus_client
prompt_toolkit
propcache
psutil
psygnal
aicsimageio
aicspylibczi==3.3.1
aiohappyeyeballs
aiohttp
aiosignal
alabaster
amply
anndata
anyio
app-model
appdirs
argon2-cffi
argon2-cffi-bindings
argparse-dataclass
array-api-compat
arrow
asciitree==0.3.3
asttokens
async-lru
attmap
attrs
babel
beautifulsoup4
bfio
bioformats_jar
bleach
bokeh>=3.7.3
brotli
build
cached-property
cachey
certifi
cffi
charset-normalizer
cjdk
click
click-default-group
cloudpickle
colorama
colour
comm
conda-inject
ConfigArgParse
connection-pool
contourpy
cycler
cytoolz
czifile
dask
debugpy
decorator
defusedxml
Deprecated
distributed
docformatter
docstring_parser
docutils
dpath
eido
elementpath
et_xmlfile
exceptiongroup
executing
fasteners
fastjsonschema
flexcache
flexparser
fonttools
fqdn
freetype-py
frozenlist
fsspec
gitdb
GitPython
h11
h2
h5py
hdbscan
HeapDict
hpack
hsluv
httpcore
httpx
humanfriendly
hyperframe
idna
imagecodecs
imagecodecs-lite
imageio
imageio-ffmpeg
imagesize
imbalanced-learn
immutables
importlib_metadata
importlib_resources
in-n-out
iniconfig
ipykernel
ipynb==0.5.1
ipython