statsmodels
superqt
tables
tabulate
tblib
terminado
threadpoolctl
throttler
tifffile
tinycss2
toml
tomli
tomli_w
toolz
toposort
tornado
tqdm
traitlets
typer==0.16.0
typer-slim==0.16.0
types-python-dateutil
typing_extensions
typing_utils
tzdata
ubiquerg
umap-learn
unicodedata2
untokenize
uri-template
urllib3
veracitools==0.1.4
vispy
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
wrapt
xarray
xlrd
xlwt==1.3.0
xmlschema
xmltodict
xsdata
xyzservices
yarl
yte
zarr
zict
zipp
zstandard==0.23.0
pystackreg
pytorch